<% content_for :center do %>
  <div id="headingimg">
    <img src='assets/mycalendar.png'>
  </div>

    <% if user_signed_in? %>
    <div class="userbuttons">
      <div id="neweventbutton">
        <button><%= link_to 'New Event', new_event_path %></button>
      </div>
      <div id="allevents">
        <button><%= link_to 'All Events', events_path %></button>
      </div>
    </div>
  <% end %>

  <div id="userevents">
    <% @events.each do | date, events | %>
      <div id="headerreplacement">
        <h3><%= date.strftime('%A %e %b') %> </h3>
      </div>
      <div>
      <% events.each do |event| puts%>
        <div class="inneradministration">
          <%#=event.inspect%>

          <% @bandarray = [] %>
          <% @musicarray = [] %>
          <% @lineup = [] %>

          <% for band in event.bands %>

            <% @bandarray.push(band.band_image) %>

            <% @musicarray.push(band.audio_file) %>

            <% @lineup.push(band.band_name) %>

          <% end %>

            <div class="banddiv">
              <div id="lineup">
                <% @lineup.each do |b| %>
                    <p>
                      <%= b %>
                    <p>
                  <% end %>
                  <hr>
              </div>
              <div id="eventinfo">
                <ul>
                  <li><%= event.time %></li>
                  <li><%= event.user.name %></li>
                  <li><%= event.user.address %></li>
                  <br />
                  <li>£<%= event.ticket_price %></li>
                  <li><a href="<%= event.ticket_link %>">Buy Tickets</a></li>
                  <li><%= event.category_id %></li>
                </ul>
              </div>

              <% if user_signed_in? %>
                <%= render :partial => 'tooltable', locals: {event: event} %>
              <% end %>


            </div>

            <div id="visualiser">
              <% @bandarray.each do |i| %>
                  <div id="singleimage">
                    <%=image_tag i %>
                  </div>
                <% end %>
            </div>

            <div id="musicbox">
              <% @musicarray.each do |s| %>
                  <div id="singleaudio">
                    <%=audio_tag s, controls: true %>
                  </div>
                <% end %>
            </div>

        </div>
      <% end %>
    </div>
    <% end %> 
  </div>

<% end %>
