<p id="notice"><%= notice %></p>

<ul>
  <li><%= @event.date %></li>
  <li><%= @event.user_id %></li>
  <li>£<%= @event.ticket_price %></li>
  <li><a href="<%= @event.ticket_link %>">Buy Tickets</a></li>
  <li><%= @event.time %></li>
  <li><%= @event.category_id %></li>
  <li><%= @event.user_id %></li>

  <div class="banddiv">
    <% for band in @event.bands %>
      <b>Bandname:</b>
      <li>
        <img<%=h band.band_name %>>
      </li>
      <b>Image link:</b>
      <li>
        <%=image_tag band.band_image %>
      </li>
      <b>Sound clip:</b>
      <li>
        <%=audio_tag band.audio_file, controls: true %>
      </li>
    <% end %>
  </div>

  <li><%= link_to 'Show', @event %></li>
  <li><%= link_to 'Edit', edit_event_path(@event) %></li>
  <li><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>

<p>
  <b>Ticket price:</b>
  <%= @event.ticket_price %>
</p>

<p>
  <b>Ticket link:</b>
  <%= @event.ticket_link %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category_id %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.user_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back to All Events', events_path %>
