<div class="row">
  <h1>Listing events</h1>

  <br />

  <div id="accordion" class="col-md-2-offset">
    <% @events.each do | date, events | %>
      <h3><%= date %> </h3>
      <div>
      <% events.each do |event| puts%>
        <div class="inner">
          <%#=event.inspect%>

          <ul>
            <li><%= event.date %></li>
            <li><%= event.user_id %></li>
            <li>£<%= event.ticket_price %></li>
            <li><a href="<%= event.ticket_link %>">Buy Tickets</a></li>
            <li><%= event.time %></li>
            <li><%= event.category_id %></li>
            <li><%= event.user_id %></li>

            <div class="banddiv">
              <% for band in event.bands %>
                <b>Bandname:</b>
                <li>
                  <img<%=h band.band_name %>>
                </li>
                <b>Image link:</b>
                <li>
                  <%=image_tag band.band_image %>
                </li>
                <b>Sound clip:</b>
                <li>
                  <%=audio_tag band.audio_file, controls: true %>
                </li>
              <% end %>
            </div>

            <li><%= link_to 'Show', event %></li>
            <li><%= link_to 'Edit', edit_event_path(event) %></li>
            <li><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>

        </div>
      <% end %>
    </div>
    <% end %> 
  </div>

  <%= link_to 'New Event', new_event_path %>
</div>



        <!-- <div class="inner"> -->
          <!-- <ul> -->
            <!-- <li><%#= event.date %></li> -->
            <!-- <div class="banddiv"> -->
              <%# for band in event.bands %>
                <!-- <b>Bandname:</b> -->
                <!-- <li> -->
                  <!-- <img<%#=h band.band_name %>> -->
                <!-- </li> -->
                <!-- <b>Image link:</b> -->
                <!-- <li> -->
                  <%#=image_tag band.band_image %>
                <!-- </li> -->
                <!-- <b>Sound clip:</b> -->
                <!-- <li> -->
                  <%#=audio_tag band.audio_file, controls: true %>
                <!-- </li> -->
              <%# end %>
              <%# end %>
            <!-- </div> -->
            <!-- <li>£<%#= event.ticket_price %></li> -->
            <!-- <li><a href="<%#= event.ticket_link %>">Buy Tickets</a></li> -->
            <!-- <li><%#= event.time %></li> -->
<!--             <li><%#= event.category_id %></li>
            <li><%#= event.user_id %></li> -->
            <!-- <li><%#= link_to 'Show', event %></li> -->
            <!-- <li><%#= link_to 'Edit', edit_event_path(event) %></li> -->
            <!-- <li><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->
          <!-- </ul> -->
        <!-- </div> -->
      <!-- <%# end %> -->
    <!-- </div> -->

    <!-- <h3><%# day2 = Date.today+1.day %></h3> -->
    <!-- <h3><%#= Date.tomorrow %></h3> -->
    <!-- <div> -->
      <%#= Event.where(date: day2) %>
<!--         <p>
      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
      purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
      velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
      suscipit faucibus urna.
      </p>
    </div>
    <h3>Section 3</h3>
    <div>
      <p>
      Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
      Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
      ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
      lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
      </p>
      <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
    </div>
    <h3>Section 4</h3>
    <div>
      <p>
      Cras dictum. Pellentesque habitant morbi tristique senectus et netus
      et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
      faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
      mauris vel est.
      </p>
      <p>
      Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos.
      </p>
    </div> -->
    <!-- </div> -->

    <%#= link_to 'New Event', new_event_path %>
  <!-- </div> -->
<%# end %>
