<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Band:</b>
  <%= @event.band %>
</p>

<p>
  <b>Sound clip:</b>
  <%= @event.sound_clip %>
</p>

<p>
  <b>Image link:</b>
  <%= @event.image_link %>
</p>

<p>
  <b>Ticket price:</b>
  <%= @event.ticket_price %>
</p>

<p>
  <b>Ticket link:</b>
  <%= @event.ticket_link %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Genre:</b>
  <%= @event.genre_id %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
