<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<ol>
  <% for band in @event.bands %>
  <b>Bandname:</b>
    <li>
      <%=h band.band_name %>
    </li>
  <b>Image link:</b>
    <li>
      <%=h band.image_link %>
    </li>
  <b>Sound clip:</b>
    <li>
      <%=h band.sound_clip %>
    </li>
  <% end %>
</ol>

<p>
  <b>Ticket price:</b>
  <%= @event.ticket_price %>
</p>

<p>
  <b>Ticket link:</b>
  <%= @event.ticket_link %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category_id %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.user_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
