<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="assets/bootstrap_and_overrides.css.less" />
  <link rel="stylesheet" href="assets/gigstyles.css" />
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>
</head>
<body>
  <!-- FIXED LAYOUT IN BOOTSTRAP -->
  <div id="container">
    <div class="row">
      <div class="span3"></div>
      
      <div class="span6"></div>
        <div class="user-nav">
          <% if user_signed_in? %>
            Logged in as
            <b>
              <%= current_user.email %>
            </b>
            <%= link_to "Edit Profile", edit_user_registration_path %>
            \|
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            \|
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
        </div>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>

      <div class="span3"></div>
  </div>
</body>
