<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gig App</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
      $(function() {
        $( "#accordion" ).accordion();
      });
    </script>
  </head>
  <body>
    <!-- FIXED LAYOUT IN BOOTSTRAP -->
    <div id="container">
      <div class="row">
        <div class="user-nav">
          <% if user_signed_in? %>
            Logged in as
            <b>
              <%= current_user.email %>
            </b>
            <%= link_to "Edit Profile", edit_user_registration_path %>
            \|
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            \|
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
        </div>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>

          <img id= "logo" src="logo_green.png">
        <% end %>
        <%= yield %>
      </div>

      <%= yield :center %>
    </div>
  </body>
</html>
